{% extends 'base.html'%}

{% block head %}
<title>No Country</title>
{% endblock %}

{% block body %}
<h1>Clubs List</h1>
<br>
<div class="card">
    <div class="container">
        <br>
        <h5>Class B Clubs:</h5>
        FC Barcelona &nbsp &nbsp|
        Paris Saint-Germain &nbsp &nbsp|
        Manchester United &nbsp &nbsp|
        Manchester City &nbsp &nbsp|
        Chelsea &nbsp &nbsp|
        Real Madrid &nbsp &nbsp|
        Atlético Madrid &nbsp &nbsp|
        FC Bayern München &nbsp &nbsp|
        Tottenham Hotspur &nbsp &nbsp|
        Liverpool &nbsp &nbsp|
        Arsenal &nbsp &nbsp|
        Milan &nbsp &nbsp|
        Inter &nbsp &nbsp|
        Lazio &nbsp &nbsp|
        Borussia Dortmund &nbsp &nbsp|
        Olympique Lyonnais &nbsp &nbsp|
        Roma &nbsp &nbsp|
        Valencia CF &nbsp &nbsp|
        FC Porto &nbsp &nbsp|
        FC Schalke 04 &nbsp &nbsp|
        Beşiktaş JK &nbsp &nbsp|
        Sporting CP &nbsp &nbsp|
        Real Betis &nbsp &nbsp|
        Olympique de Marseille &nbsp &nbsp|
        RC Celta &nbsp &nbsp|
        Bayer 04 Leverkusen &nbsp &nbsp|
        Real Sociedad &nbsp &nbsp|
        Villarreal CF &nbsp &nbsp|
        Sevilla FC &nbsp &nbsp|
        SL Benfica &nbsp &nbsp|
        AS Saint-Étienne &nbsp &nbsp|
        AS Monaco &nbsp &nbsp|
        Leicester City &nbsp &nbsp|
        Atalanta &nbsp &nbsp|
        Grêmio &nbsp &nbsp|
        Atlético Mineiro &nbsp &nbsp|
        RB Leipzig &nbsp &nbsp|
        Ajax &nbsp &nbsp|
        Everton &nbsp &nbsp|
        West Ham United &nbsp &nbsp|
        1. FC Köln &nbsp &nbsp|
        TSG 1899 Hoffenheim &nbsp &nbsp|
        OGC Nice &nbsp &nbsp|
        Borussia Mönchengladbach &nbsp &nbsp|
        Hertha BSC &nbsp &nbsp|
        SV Werder Bremen &nbsp &nbsp|
        Cruzeiro &nbsp &nbsp|
        Athletic Club de Bilbao &nbsp &nbsp|
        Torino &nbsp &nbsp|
        Medipol Başakşehir FK &nbsp &nbsp|
        Crystal Palace &nbsp &nbsp|
        VfL Wolfsburg &nbsp &nbsp|
        Shakhtar Donetsk &nbsp &nbsp|
        Lokomotiv Moscow &nbsp &nbsp|
        Sassuolo &nbsp &nbsp|
        Fluminense &nbsp &nbsp|
        PSV &nbsp &nbsp|
        Levante UD &nbsp &nbsp|
        Watford &nbsp &nbsp|
        Galatasaray SK &nbsp &nbsp|
        Fenerbahçe SK &nbsp &nbsp|
        SD Eibar &nbsp &nbsp|
        Sampdoria &nbsp &nbsp|
        VfB Stuttgart &nbsp &nbsp|
        SC Braga &nbsp &nbsp|
        River Plate &nbsp &nbsp|
        Deportivo Alavés &nbsp &nbsp|
        Eintracht Frankfurt &nbsp &nbsp|
        Girona FC &nbsp &nbsp|
        Burnley &nbsp &nbsp|
        Stoke City &nbsp &nbsp|
        Southampton &nbsp &nbsp|
        Getafe CF &nbsp &nbsp|
        Chievo Verona &nbsp &nbsp|
        Genoa &nbsp &nbsp|
        RCD Espanyol &nbsp &nbsp|
        Cagliari &nbsp &nbsp|
        Dynamo Kyiv &nbsp &nbsp|
        Santos &nbsp &nbsp|
        Internacional &nbsp &nbsp|
        América FC (Minas Gerais) &nbsp &nbsp|
        Independiente &nbsp &nbsp|
        Boca Juniors &nbsp &nbsp|
        1. FSV Mainz 05 &nbsp &nbsp|
        Spartak Moscow &nbsp &nbsp|
        Racing Club &nbsp &nbsp|
        FC Augsburg &nbsp &nbsp|
        Fiorentina &nbsp &nbsp|
        FC Nantes &nbsp &nbsp|
        Feyenoord &nbsp &nbsp|
        Club Brugge KV &nbsp &nbsp|
        Brighton & Hove Albion &nbsp &nbsp|
        SC Freiburg &nbsp &nbsp|
        PAOK &nbsp &nbsp|
        Stade Rennais FC &nbsp &nbsp|
        SPAL &nbsp &nbsp|
        Olympiacos CFP &nbsp &nbsp|
        Newcastle United &nbsp &nbsp|
        KRC Genk &nbsp &nbsp|
        Hannover 96 &nbsp &nbsp|
        Toulouse Football Club &nbsp &nbsp|
        RSC Anderlecht &nbsp &nbsp|
        FC Girondins de Bordeaux &nbsp &nbsp|
        Parma &nbsp &nbsp|
        Standard de Liège &nbsp &nbsp|
        Bologna &nbsp &nbsp|
        Botafogo &nbsp &nbsp|
        Udinese &nbsp &nbsp|
        CD Leganés &nbsp &nbsp|
        Celtic &nbsp &nbsp|
        Vitória Guimarães &nbsp &nbsp|
        UD Las Palmas &nbsp &nbsp|
        Deportivo de La Coruña &nbsp &nbsp|
        AEK Athens &nbsp &nbsp|
        En Avant de Guingamp &nbsp &nbsp|
        Clube Sport Marítimo &nbsp &nbsp|
        Bahia &nbsp &nbsp|
        Angers SCO &nbsp &nbsp|
        Dijon FCO &nbsp &nbsp|
        Málaga CF &nbsp &nbsp|
        Vitória &nbsp &nbsp|
        Nottingham Forest &nbsp &nbsp|
        AZ Alkmaar &nbsp &nbsp|
        Dinamo Zagreb &nbsp &nbsp|
        GD Chaves &nbsp &nbsp
        <br>
    </div>
</div>
<br>
<div class="card">
    <div class="container">
        <br>
        <h5>Class C Clubs:</h5>
        Vissel Kobe &nbsp &nbsp|
        Guangzhou Evergrande Taobao FC &nbsp &nbsp|
        LA Galaxy &nbsp &nbsp|
        Dalian YiFang FC &nbsp &nbsp|
        Shanghai SIPG FC &nbsp &nbsp|
        Al Nassr &nbsp &nbsp|
        Wolverhampton Wanderers &nbsp &nbsp|
        Beijing Sinobo Guoan FC &nbsp &nbsp|
        PFC CSKA Moscow &nbsp &nbsp|
        Toronto FC &nbsp &nbsp|
        New York City FC &nbsp &nbsp|
        Fulham &nbsp &nbsp|
        Atlanta United &nbsp &nbsp|
        Montpellier HSC &nbsp &nbsp|
        Los Angeles FC &nbsp &nbsp|
        Al Hilal &nbsp &nbsp|
        Guangzhou R&F; FC &nbsp &nbsp|
        Tianjin Quanjian FC &nbsp &nbsp|
        Beijing Renhe FC &nbsp &nbsp|
        Montreal Impact &nbsp &nbsp|
        Portland Timbers &nbsp &nbsp|
        Tigres U.A.N.L. &nbsp &nbsp|
        Hebei China Fortune FC &nbsp &nbsp|
        Chicago Fire &nbsp &nbsp|
        DC United &nbsp &nbsp|
        Sagan Tosu &nbsp &nbsp|
        Cruz Azul &nbsp &nbsp|
        Bournemouth &nbsp &nbsp|
        Al Ahli &nbsp &nbsp|
        Jiangsu Suning FC &nbsp &nbsp|
        Trabzonspor &nbsp &nbsp|
        Portimonense SC &nbsp &nbsp|
        Club Atlético Huracán &nbsp &nbsp|
        Kasimpaşa SK &nbsp &nbsp|
        Frosinone &nbsp &nbsp|
        Querétaro &nbsp &nbsp|
        Stade Malherbe Caen &nbsp &nbsp|
        Godoy Cruz &nbsp &nbsp|
        Huddersfield Town &nbsp &nbsp|
        CD Tondela &nbsp &nbsp|
        Seattle Sounders FC &nbsp &nbsp|
        Hamburger SV &nbsp &nbsp|
        FC Red Bull Salzburg &nbsp &nbsp|
        Rio Ave FC &nbsp &nbsp|
        Melbourne Victory &nbsp &nbsp|
        FC Basel 1893 &nbsp &nbsp|
        Al Wehda &nbsp &nbsp|
        BSC Young Boys &nbsp &nbsp|
        KAA Gent &nbsp &nbsp|
        Al Ittihad &nbsp &nbsp|
        Shanghai Greenland Shenhua FC &nbsp &nbsp|
        Colo-Colo &nbsp &nbsp|
        Junior FC &nbsp &nbsp|
        West Bromwich Albion &nbsp &nbsp|
        RC Strasbourg Alsace &nbsp &nbsp|
        Göztepe SK &nbsp &nbsp|
        Deportivo Cali &nbsp &nbsp|
        Deportivo Toluca &nbsp &nbsp|
        Nagoya Grampus &nbsp &nbsp|
        Amiens SC &nbsp &nbsp|
        Changchun Yatai FC &nbsp &nbsp|
        Club Atlético Lanús &nbsp &nbsp|
        Club América &nbsp &nbsp|
        Real Valladolid CF &nbsp &nbsp|
        Club Atlético Banfield &nbsp &nbsp|
        FC København &nbsp &nbsp|
        Universidad Católica &nbsp &nbsp|
        San Lorenzo de Almagro &nbsp &nbsp|
        Rayo Vallecano &nbsp &nbsp|
        Monterrey &nbsp &nbsp|
        Columbus Crew SC &nbsp &nbsp|
        MKE Ankaragücü &nbsp &nbsp|
        Guizhou Hengfeng FC &nbsp &nbsp|
        Swansea City &nbsp &nbsp|
        Chongqing Dangdai Lifan FC SWM Team &nbsp &nbsp|
        Al Taawoun &nbsp &nbsp|
        Melbourne City FC &nbsp &nbsp|
        Akhisar Belediyespor &nbsp &nbsp|
        Foggia &nbsp &nbsp|
        LOSC Lille &nbsp &nbsp|
        1. FC Nürnberg &nbsp &nbsp|
        Real Sporting de Gijón &nbsp &nbsp|
        BB Erzurumspor &nbsp &nbsp|
        Shandong Luneng TaiShan FC &nbsp &nbsp|
        Club Atlético Colón &nbsp &nbsp|
        Once Caldas &nbsp &nbsp|
        FC Groningen &nbsp &nbsp|
        Paraná &nbsp &nbsp|
        Antalyaspor &nbsp &nbsp|
        Minnesota United FC &nbsp &nbsp|
        Club León &nbsp &nbsp|
        Empoli &nbsp &nbsp|
        VVV-Venlo &nbsp &nbsp|
        Leeds United &nbsp &nbsp|
        Viktoria Plzeň &nbsp &nbsp|
        Alanyaspor &nbsp &nbsp|
        Atlético Paranaense &nbsp &nbsp|
        Derby County &nbsp &nbsp|
        Kawasaki Frontale &nbsp &nbsp|
        Cardiff City &nbsp &nbsp|
        Aston Villa &nbsp &nbsp|
        Guadalajara &nbsp &nbsp|
        Santos Laguna &nbsp &nbsp|
        Çaykur Rizespor &nbsp &nbsp|
        U.N.A.M. &nbsp &nbsp|
        Royal Antwerp FC &nbsp &nbsp|
        Club Tijuana &nbsp &nbsp|
        Sport Club do Recife &nbsp &nbsp|
        Real Salt Lake &nbsp &nbsp|
        SK Slavia Praha &nbsp &nbsp|
        Willem II &nbsp &nbsp|
        Middlesbrough &nbsp &nbsp|
        Club Atlas &nbsp &nbsp|
        Granada CF &nbsp &nbsp|
        Sydney FC &nbsp &nbsp|
        Sporting Kansas City &nbsp &nbsp|
        SV Zulte-Waregem &nbsp &nbsp|
        Philadelphia Union &nbsp &nbsp|
        Real Oviedo &nbsp &nbsp|
        Pachuca &nbsp &nbsp|
        Boavista FC &nbsp &nbsp|
        Atiker Konyaspor &nbsp &nbsp|
        Kaizer Chiefs &nbsp &nbsp|
        Palermo &nbsp &nbsp|
        Atlético Nacional &nbsp &nbsp|
        Puebla FC &nbsp &nbsp|
        Perth Glory &nbsp &nbsp|
        Panathinaikos FC &nbsp &nbsp|
        FC Sion &nbsp &nbsp|
        Vitória de Setúbal &nbsp &nbsp|
        New York Red Bulls &nbsp &nbsp|
        Al Shabab &nbsp &nbsp|
        Monarcas Morelia &nbsp &nbsp|
        Albacete BP &nbsp &nbsp|
        Rangers FC &nbsp &nbsp|
        Sparta Praha &nbsp &nbsp|
        Legia Warszawa &nbsp &nbsp|
        Urawa Red Diamonds &nbsp &nbsp|
        Rosario Central &nbsp &nbsp|
        Stade de Reims &nbsp &nbsp|
        ADO Den Haag &nbsp &nbsp|
        Chapecoense &nbsp &nbsp|
        FC Midtjylland &nbsp &nbsp|
        San Jose Earthquakes &nbsp &nbsp|
        Belgrano de Córdoba &nbsp &nbsp|
        Brescia &nbsp &nbsp|
        Kashima Antlers &nbsp &nbsp|
        CD Everton de Viña del Mar &nbsp &nbsp|
        Fortuna Düsseldorf &nbsp &nbsp|
        SD Huesca &nbsp &nbsp|
        Preston North End &nbsp &nbsp|
        Club Atlético Talleres &nbsp &nbsp|
        Benevento &nbsp &nbsp|
        Vitesse &nbsp &nbsp|
        Gimnasia y Esgrima La Plata &nbsp &nbsp|
        Houston Dynamo &nbsp &nbsp|
        Club Necaxa &nbsp &nbsp|
        Norwich City &nbsp &nbsp|
        Holstein Kiel &nbsp &nbsp|
        Ettifaq FC &nbsp &nbsp|
        Kayserispor &nbsp &nbsp|
        1. FC Heidenheim 1846 &nbsp &nbsp|
        Brentford &nbsp &nbsp|
        Yeni Malatyaspor &nbsp &nbsp|
        Lobos BUAP &nbsp &nbsp|
        Bursaspor &nbsp &nbsp|
        Ceará Sporting Club &nbsp &nbsp|
        Sheffield United &nbsp &nbsp|
        FC Ingolstadt 04 &nbsp &nbsp|
        Estudiantes de La Plata &nbsp &nbsp|
        AIK &nbsp &nbsp|
        Queens Park Rangers &nbsp &nbsp|
        Suwon Samsung Bluewings &nbsp &nbsp|
        Heart of Midlothian &nbsp &nbsp|
        Reading &nbsp &nbsp|
        FC Dallas &nbsp &nbsp|
        Heracles Almelo &nbsp &nbsp|
        Venezia FC &nbsp &nbsp|
        CD Lugo &nbsp &nbsp|
        Henan Jianye FC &nbsp &nbsp|
        Orlando City SC &nbsp &nbsp|
        CA Osasuna &nbsp &nbsp|
        NAC Breda &nbsp &nbsp|
        Livorno &nbsp &nbsp|
        Universidad de Chile &nbsp &nbsp|
        Brøndby IF &nbsp &nbsp|
        Aberdeen &nbsp &nbsp|
        Defensa y Justicia &nbsp &nbsp|
        Atlético Tucumán &nbsp &nbsp|
        Blackburn Rovers &nbsp &nbsp|
        SV Darmstadt 98 &nbsp &nbsp|
        Moreirense FC &nbsp &nbsp|
        Sanfrecce Hiroshima &nbsp &nbsp|
        CD Numancia &nbsp &nbsp|
        KV Oostende &nbsp &nbsp|
        FC Utrecht &nbsp &nbsp|
        Vancouver Whitecaps FC &nbsp &nbsp|
        Odense Boldklub &nbsp &nbsp|
        SC Heerenveen &nbsp &nbsp|
        Racing Club de Lens &nbsp &nbsp|
        Independiente Santa Fe &nbsp &nbsp|
        Sporting de Charleroi &nbsp &nbsp| 
        Millonarios FC &nbsp &nbsp|
        Sheffield Wednesday &nbsp &nbsp|
        Perugia &nbsp &nbsp|
        Daegu FC &nbsp &nbsp|
        Vélez Sarsfield &nbsp &nbsp|
        Grasshopper Club Zürich &nbsp &nbsp|
        Sivasspor &nbsp &nbsp|
        Nîmes Olympique &nbsp &nbsp|
        Rosenborg BK &nbsp &nbsp|
        SK Sturm Graz &nbsp &nbsp|
        FC Metz &nbsp &nbsp|
        CD Universidad de Concepción &nbsp &nbsp|
        Hellas Verona &nbsp &nbsp|
        Brisbane Roar &nbsp &nbsp|
        CD Feirense &nbsp &nbsp|
        Hull City &nbsp &nbsp|
        Waasland-Beveren &nbsp &nbsp|
        Neuchâtel Xamax &nbsp &nbsp|
        Real Zaragoza &nbsp &nbsp|
        CD Aves &nbsp &nbsp|
        Millwall &nbsp &nbsp|
        Unión de Santa Fe &nbsp &nbsp|
        KAS Eupen &nbsp &nbsp|
        Cádiz CF &nbsp &nbsp|
        FC Tokyo &nbsp &nbsp|
        CD Tenerife &nbsp &nbsp|
        1. FC Union Berlin &nbsp &nbsp|
        Al Fayha &nbsp &nbsp|
        AJ Auxerre &nbsp &nbsp|
        Patriotas Boyacá FC &nbsp &nbsp|
        Molde FK &nbsp &nbsp|
        Bristol City &nbsp &nbsp|
        CD Nacional &nbsp &nbsp|
        Sporting Lokeren &nbsp &nbsp|
        FC St. Pauli &nbsp &nbsp|
        Deportes Iquique &nbsp &nbsp|
        Al Qadisiyah &nbsp &nbsp|
        Atlético Bucaramanga &nbsp &nbsp|
        Club Atlético Tigre &nbsp &nbsp|
        FK Austria Wien &nbsp &nbsp|
        Patronato &nbsp &nbsp|
        Malmö FF &nbsp &nbsp|
        Kashiwa Reysol &nbsp &nbsp|
        US Cremonese &nbsp &nbsp|
        VfL Bochum 1848 &nbsp &nbsp| 
        SK Rapid Wien &nbsp &nbsp|
        KSV Cercle Brugge &nbsp &nbsp|
        Rionegro Águilas &nbsp &nbsp|
        Gimnàstic de Tarragona &nbsp &nbsp|
        Lecce &nbsp &nbsp|
        Santa Clara &nbsp &nbsp|
        BK Häcken &nbsp &nbsp|
        New England Revolution &nbsp &nbsp|
        Orlando Pirates &nbsp &nbsp|
        Atlético Huila &nbsp &nbsp|
        Western Sydney Wanderers &nbsp &nbsp|
        Kalmar FF &nbsp &nbsp|
        Independiente Medellín &nbsp &nbsp|
        Fortuna Sittard &nbsp &nbsp|
        Lech Poznań &nbsp &nbsp|
        Djurgårdens IF &nbsp &nbsp|
        CF Reus Deportiu &nbsp &nbsp|
        SK Brann &nbsp &nbsp|
        Ulsan Hyundai FC &nbsp &nbsp|
        Sint-Truidense VV &nbsp &nbsp|
        Carpi &nbsp &nbsp|
        Al Fateh &nbsp &nbsp|
        Royal Excel Mouscron &nbsp &nbsp|
        AC Ajaccio &nbsp &nbsp|
        PEC Zwolle &nbsp &nbsp|
        Sunderland &nbsp &nbsp|
        Club Atlético Aldosivi &nbsp &nbsp|
        US Salernitana 1919 &nbsp &nbsp|
        FC Lorient &nbsp &nbsp|
        Argentinos Juniors &nbsp &nbsp|
        AD Alcorcón &nbsp &nbsp|
        Crotone &nbsp &nbsp|
        Excelsior &nbsp &nbsp|
        KV Kortrijk &nbsp &nbsp|
        IFK Norrköping &nbsp &nbsp|
        Adelaide United &nbsp &nbsp|
        FC St. Gallen &nbsp &nbsp|
        Tiburones Rojos de Veracruz &nbsp &nbsp|
        CD Palestino &nbsp &nbsp|
        Jeju United FC &nbsp &nbsp|
        Deportes Tolima &nbsp &nbsp|
        Jeonbuk Hyundai Motors &nbsp &nbsp|
        Birmingham City &nbsp &nbsp|
        América de Cali &nbsp &nbsp|
        La Equidad &nbsp &nbsp|
        Spezia &nbsp &nbsp|
        Aalborg BK &nbsp &nbsp|
        Le Havre AC &nbsp &nbsp|
        Górnik Zabrze &nbsp &nbsp|
        Central Coast Mariners &nbsp &nbsp|
        Wigan Athletic &nbsp &nbsp|
        Jagiellonia Białystok &nbsp &nbsp|
        Cittadella &nbsp &nbsp|
        Hibernian &nbsp &nbsp|
        FC Lugano &nbsp &nbsp|
        San Martín de San Juan &nbsp &nbsp|
        Strømsgodset IF &nbsp &nbsp|
        Newell's Old Boys &nbsp &nbsp|
        Al Faisaly &nbsp &nbsp|
        Colorado Rapids &nbsp &nbsp|
        IF Elfsborg &nbsp &nbsp|
        SV Sandhausen &nbsp &nbsp|
        Stade Brestois 29 &nbsp &nbsp|
        UD Almería &nbsp &nbsp|
        Gyeongnam FC &nbsp &nbsp|
        Yokohama F. Marinos &nbsp &nbsp|
        Kilmarnock &nbsp &nbsp|
        Pescara &nbsp &nbsp|
        Newcastle Jets &nbsp &nbsp|
        Córdoba CF &nbsp &nbsp|
        RCD Mallorca &nbsp &nbsp|
        Hammarby IF &nbsp &nbsp|
        Cerezo Osaka &nbsp &nbsp|
        KFC Uerdingen 05 &nbsp &nbsp|
        Shimizu S-Pulse &nbsp &nbsp|
        MSV Duisburg &nbsp &nbsp|
        Os Belenenses &nbsp &nbsp|
        DSC Arminia Bielefeld &nbsp &nbsp|
        Ipswich Town &nbsp &nbsp|
        FC Seoul &nbsp &nbsp|
        Lechia Gdańsk &nbsp &nbsp|
        Gamba Osaka &nbsp &nbsp|
        CF Rayo Majadahonda &nbsp &nbsp|
        LASK Linz &nbsp &nbsp|
        Bolton Wanderers &nbsp &nbsp|
        Al Raed &nbsp &nbsp|
        Extremadura UD &nbsp &nbsp|
        SC Paderborn 07 &nbsp &nbsp|
        Wellington Phoenix &nbsp &nbsp|
        Unión Española &nbsp &nbsp|
        Alianza Petrolera &nbsp &nbsp|
        Cracovia &nbsp &nbsp|
        Gangwon FC &nbsp &nbsp|
        Júbilo Iwata &nbsp &nbsp|
        Elche CF &nbsp &nbsp|
        AS Béziers &nbsp &nbsp|
        La Berrichonne de Châteauroux &nbsp &nbsp|
        Clermont Foot 63 &nbsp &nbsp|
        ESTAC Troyes &nbsp &nbsp|
        1. FC Magdeburg &nbsp &nbsp|
        Pohang Steelers &nbsp &nbsp|
        Örebro SK &nbsp &nbsp|
        Arka Gdynia &nbsp &nbsp|
        SG Dynamo Dresden &nbsp &nbsp|
        SpVgg Greuther Fürth &nbsp &nbsp|
        CD Huachipato &nbsp &nbsp|
        Wisła Kraków &nbsp &nbsp|
        Stabæk Fotball &nbsp &nbsp|
        Eintracht Braunschweig &nbsp &nbsp|
        Valenciennes FC &nbsp &nbsp|
        FC Thun &nbsp &nbsp|
        San Luis de Quillota &nbsp &nbsp|
        SSV Jahn Regensburg &nbsp &nbsp|
        Cosenza &nbsp &nbsp|
        FC Nordsjælland &nbsp &nbsp|
        FC Erzgebirge Aue &nbsp &nbsp|
        Jeonnam Dragons &nbsp &nbsp|
        Wolfsberger AC &nbsp &nbsp|
        Chamois Niortais Football Club &nbsp &nbsp|
        Club Deportes Temuco &nbsp &nbsp|
        AS Nancy Lorraine &nbsp &nbsp|
        Red Star FC &nbsp &nbsp|
        Al Hazem &nbsp &nbsp|
        Pogoń Szczecin &nbsp &nbsp|
        Charlton Athletic &nbsp &nbsp|
        Grenoble Foot 38 &nbsp &nbsp|
        FC Hansa Rostock &nbsp &nbsp|
        San Martin de Tucumán &nbsp &nbsp|
        Incheon United FC &nbsp &nbsp|
        Śląsk Wrocław &nbsp &nbsp|
        GFC Ajaccio &nbsp &nbsp|
        1. FC Kaiserslautern &nbsp &nbsp|
        Deportivo Pasto &nbsp &nbsp|
        Lincoln City &nbsp &nbsp|
        Motherwell &nbsp &nbsp|
        Rotherham United &nbsp &nbsp|
        Burton Albion &nbsp &nbsp|
        Wisła Płock &nbsp &nbsp|
        FC Wacker Innsbruck &nbsp &nbsp|
        Peterborough United &nbsp &nbsp|
        Ascoli &nbsp &nbsp|
        FC Zürich &nbsp &nbsp|
        Fleetwood Town &nbsp &nbsp|
        Padova &nbsp &nbsp|
        FC Sochaux-Montbéliard &nbsp &nbsp|
        SV Wehen Wiesbaden &nbsp &nbsp|
        Unión La Calera &nbsp &nbsp|
        Scunthorpe United &nbsp &nbsp|
        CD O'Higgins &nbsp &nbsp|
        CD Antofagasta &nbsp &nbsp|
        Plymouth Argyle &nbsp &nbsp|
        Aarhus GF &nbsp &nbsp|
        Lillestrøm SK &nbsp &nbsp|
        Karlsruher SC &nbsp &nbsp|
        GIF Sundsvall &nbsp &nbsp|
        FC Emmen &nbsp &nbsp|
        Barnsley &nbsp &nbsp|
        Audax Italiano &nbsp &nbsp|
        V-Varen Nagasaki &nbsp &nbsp|
        Paris FC &nbsp &nbsp|
        SpVgg Unterhaching &nbsp &nbsp|
        Hobro IK &nbsp &nbsp|
        De Graafschap &nbsp &nbsp|
        Hokkaido Consadole Sapporo &nbsp &nbsp|
        Tromsø IL &nbsp &nbsp|
        FC Luzern &nbsp &nbsp|
        FK Haugesund &nbsp &nbsp|
        Zagłębie Lubin &nbsp &nbsp|
        VfR Aalen &nbsp &nbsp|
        Dundalk &nbsp &nbsp|
        Oxford United &nbsp &nbsp|
        Piast Gliwice &nbsp &nbsp|
        Ohod Club &nbsp &nbsp|
        Östersunds FK &nbsp &nbsp|
        Vegalta Sendai &nbsp &nbsp|
        Crawley Town &nbsp &nbsp|
        FC Admira Wacker Mödling &nbsp &nbsp|
        Vålerenga Fotball &nbsp &nbsp|
        Dundee FC &nbsp &nbsp|
        Portsmouth &nbsp &nbsp|
        Envigado FC &nbsp &nbsp|
        Miedź Legnica &nbsp &nbsp|
        Odds BK &nbsp &nbsp|
        SC Fortuna Köln &nbsp &nbsp|
        US Orléans Loiret Football &nbsp &nbsp|
        Sarpsborg 08 FF &nbsp &nbsp|
        Jaguares de Córdoba &nbsp &nbsp|
        Bradford City &nbsp &nbsp|
        Accrington Stanley &nbsp &nbsp|
        St. Johnstone FC &nbsp &nbsp|
        Boyacá Chicó FC &nbsp &nbsp|
        Luton Town &nbsp &nbsp|
        SV Mattersburg &nbsp &nbsp|
        Kristiansund BK &nbsp &nbsp|
        Sangju Sangmu FC &nbsp &nbsp|
        Rochdale &nbsp &nbsp|
        Walsall &nbsp &nbsp|
        Korona Kielce &nbsp &nbsp|
        Shonan Bellmare &nbsp &nbsp|
        FC Würzburger Kickers &nbsp &nbsp|
        FSV Zwickau &nbsp &nbsp|
        St. Mirren &nbsp &nbsp|
        AC Horsens &nbsp &nbsp|
        Esbjerg fB &nbsp &nbsp|
        Southend United &nbsp &nbsp|
        Bristol Rovers &nbsp &nbsp|
        TSV 1860 München &nbsp &nbsp|
        Curicó Unido &nbsp &nbsp| 
        SCR Altach &nbsp &nbsp|
        Ranheim Fotball &nbsp &nbsp|
        SG Sonnenhof Großaspach &nbsp &nbsp|
        Oldham Athletic &nbsp &nbsp|
        Milton Keynes Dons &nbsp &nbsp|
        FK Bodø/Glimt &nbsp &nbsp|
        SC Preußen Münster &nbsp &nbsp|
        Wycombe Wanderers &nbsp &nbsp|
        Vejle Boldklub &nbsp &nbsp|
        Bury &nbsp &nbsp|
        Randers FC &nbsp &nbsp|
        VfL Osnabrück &nbsp &nbsp|
        SønderjyskE &nbsp &nbsp|
        IFK Göteborg &nbsp &nbsp| 
        Mansfield Town &nbsp &nbsp|
        Coventry City &nbsp &nbsp|
        Shrewsbury &nbsp &nbsp|
        IK Start &nbsp &nbsp|
        Gillingham &nbsp &nbsp|
        FC Energie Cottbus &nbsp &nbsp|
        FC Carl Zeiss Jena &nbsp &nbsp|
        Hallescher FC &nbsp &nbsp|
        SV Meppen &nbsp &nbsp|
        AFC Wimbledon &nbsp &nbsp|
        Blackpool &nbsp &nbsp|
        Doncaster Rovers &nbsp &nbsp|
        Sandefjord Fotball &nbsp &nbsp|
        VfL Sportfreunde Lotte &nbsp &nbsp|
        Cheltenham Town &nbsp &nbsp|
        IK Sirius &nbsp &nbsp|
        Vendsyssel FF &nbsp &nbsp|
        Notts County &nbsp &nbsp|
        SKN St. Pölten &nbsp &nbsp|
        Shamrock Rovers &nbsp &nbsp|
        Colchester United &nbsp &nbsp|
        Livingston FC &nbsp &nbsp|
        TSV Hartberg &nbsp &nbsp|
        Port Vale &nbsp &nbsp|
        Itagüí Leones FC &nbsp &nbsp|
        Forest Green Rovers &nbsp &nbsp|
        Zagłębie Sosnowiec &nbsp &nbsp|
        Yeovil Town
        <br> 
    </div>
</div>



{% endblock %}